html
{
  scroll-behavior: smooth;
}
 nav.navbar
 {
  position: fixed;
  width: 100%;
 }
 .navbar-brand
 {
    font-size:2em;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1em;
    letter-spacing: 2px;

 }
a.navbar-brand:hover 
  {
   transition: 0.7s;
   color: white;
   color:#FF6606  !important;
 }
.navbar-header
  {
    padding: 25px;
   background-color:;
   margin-left: 10px;
  }
  .navbar-brand img
  {
  margin-top: -20px;
  margin-left: -20px;
  }
.navbar 
  {
    margin-bottom: 0;
    background-color:#58D68D   ;
    z-index: 9999;
    border: 0;
    font-size: 17px;
    float: right;
    line-height: 1.42857143 !important;
    letter-spacing: 1.2px;
    border-radius: 0;
    font-family:Aladin;
  }
.navbar li a, .navbar .navbar-brand 
  {
    color:white !important;
   font-family:Aladin;
    margin-top: 10px;
    letter-spacing: 3px;
  }
.navbar-nav li a:hover, .navbar-nav li.active a 
  {
    color:#FF6606    !important;
    transition: 0.7s;
     
  }
.navbar-default .navbar-toggle 
  {
    border-color: transparent;
    color: #fff !important;

  }
  .navbar-default .navbar-toggle:hover
  {
    border: 2px solid black;
    background-color: transparent;
    border-radius: 0px;
    transition: 1s;
  }
 
   #section1 
  {
    padding-top:10%;
    height:100%;
    background-image: url(image/gallery1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
 .welcome
 {
   margin-top: 10px;
 }
  .welcome h2
  {
    letter-spacing: 5px;
     padding: 10px;
    font-size: 4em; 
    color:white; 
    border:6px solid ;

    text-align: center;
    font-family:rockwell;
  }
  .welcome h1
  {
    letter-spacing: 5px;
     padding: 10px; 
    color:white; 
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
    font-family:Chicle;
    font-size: 50px;
  }
   .welcome h3
  {
    letter-spacing: 5px;
     padding: 10px; 
    color:white; 
    text-align: center;
    font-family:Aladin;   
  }
  .welcome i
  {
    font-size: 30px;
   margin-left: 30px;
    margin-top: 35%;
    background-color:#58D68D;
    padding: 5px 15px 25px 15px;
    cursor: pointer;
    opacity: 0.7;

  }
   .welcome i:hover
   {
    color:black;
    transition: 0.4s ease-in-out;
    
   }
   
  .welcome a
  {
    color: white;
    text-decoration: none;
  }

   #section2
  {
     background-color:white  ;
     height:100%;
      padding-bottom: 50px;
      padding-top: 30px;
  }
   #section2 h2
  {
    letter-spacing: 5px;
    padding: 10px;
    color:#58D68D; 
    text-align: center;
    font-family:Chicle;
  }
  #section2 h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:#58D68D; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
  .image_well .well
  {
    border-radius: 0px;
    padding: 0px;
    height: 100%;
     overflow: hidden;
  }
  .image_well .well img
  {
    padding: 5px;
    cursor: pointer;
  }
  .image_well .well img:hover  
  {
    transition:0.9s;
    transform: scale(1.1);
  }
  .btn-info
  {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
   font-family:Chicle;
    background-color: transparent;
    border: 2px solid white;
      letter-spacing: 3px;
      cursor: pointer;
      margin-bottom: 20px;
      text-align: center;
  }
   .btn-info:hover
   {
     border-radius: 0px;
     transition: 0.7s ease-in-out;
     background-color:transparent;
      border: 2px solid white;
      letter-spacing: 5px;
   }
 #section3  
  {
     background-color:#EAFAF1  ;
     height:100%;
     padding-bottom: 50px;
      padding-top: 30px;
  }
   #section3a
  {
     background-color:white;
     height:100%;
      padding-bottom: 50px;
      padding-top: 30px;
  }
  #section3a h2
  {
    letter-spacing: 5px;
    padding: 10px;
    color:#58D68D; 
    text-align: center;
    font-family:Chicle;
  }
  #section3a h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:#58D68D; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
    #section3a p
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:white; 
    text-align:justify;
    font-family:georgia header;
    font-style: italic;
   float: left;
  }
  .about_well .well
  {
    height:100%;
    border-radius: 0px;
    background-color: #58D68D;
    border:none;
    border-color: transparent;
    margin-top:-10px;
  }
  .wave_down img
  {
    margin-top: -20px;
  }
  .image_about_well .well
  {
     height:100%;
    border-radius: 0px;
    background-color:white;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;
  }
   .image_about_well .well:hover img
   {
    transform:scale(1.1);
    transition: 0.3s;

   }

     #section3 h2
  {
    letter-spacing: 5px;
    padding: 10px;
   color: #58D68D;
    text-align: center;
    font-family:Chicle;
  }
  #section3 h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color: #58D68D;
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
  .service_box
  {
    height: 100px;
    width: 100px;
    background-color:transparent;
    border: 2px solid #58D68D;
    font-size: 35px;
    margin-left: 25px;
    margin-bottom: 40px;
  }
   .service_box i
   {
    padding: 30px;
   color: #58D68D;
    cursor: pointer;
   }
   .service_box i:hover
   {
    transition: 0.4s ease-in-out;
    transform: rotate(360deg);
   }
    #section3 h6
  {
    letter-spacing: 5px;
    color: #58D68D; 
    text-align: center;
    font-family:Chicle;
  }
    #section4
  {
     background-color:#EAFAF1  ;
     height: 100%;
     padding-bottom: 50px;
      padding-top: 30px;

  }
  #section4 h2
  {
    letter-spacing: 5px;
    padding: 10px;
    color: #58D68D;
    text-align: center;
    font-family:Chicle;
  }
  #section4 h4
  {
    letter-spacing: 2px;
    padding: 10px; 
   color: #58D68D;
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
  .agency_well .well
  {
    height: 100%;
    padding: 3px;
      position: relative;
        cursor: pointer;
        overflow:hidden;
  }
   .agency_well .well h3
   {
    letter-spacing: 2px;
    padding: 10px; 
    color:black; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
     
   }
   .agency_well .well h5
   {
    letter-spacing: 2px;
    margin-top: -7px;
    padding:  10px;
    margin-bottom: -1px;
    background-color:#58D68D;
    color:white; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
    
   }
    
 .post:hover .post-s{
  width: 100%;
  height:100%;
  margin-left: -2px;
}
.post img
{
  border-radius: 3px;
}
.post:hover img
{
  transform: scale(1.2);
  transition:0.7s ease;
}
.post-s{
  width:0px;
  height:100%;
  margin-left: -2px;
  background: rgba(103, 58, 183, 0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h2{
  letter-spacing: 2px;
    padding: 10px; 
    color:white; 
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
   .agency_well .well img
   {
    height:;
   }
    #section5
  {
     background-color:white;
     height: 200px;
     padding-bottom: 50px;
      padding-top: 30px;
  }
   
  .fa-chevron-left
  {
    float: right;
    margin-top: 70px;
    height: 50px;
    width: 30px;
    padding-left:10px;
    padding-top: 18px;

     background-color:#58D68D;
    cursor: pointer;
    border:1px solid white;
  }
  .fa-chevron-left:hover
  {
    transition: .1s ease;
    color: white;
     transform: scaleX(1.1);
  }
    .fa-chevron-right
  {
    float:left;
    margin-top: 70px;
    height: 50px;
    width: 30px;
    padding-left:10px;
    padding-top: 18px;
    background-color:#58D68D;
    cursor: pointer;
    border:1px solid white;
  }
  .fa-chevron-right:hover
  {
    transition: .1s ease;
    color: white;
    transform: scaleX(1.1);
  }
    .slider_well .well
  {
    margin-top: 30px;
    height: 100%;
    border-radius: 0px;
     border: 2px solid #58D68D;
     background-color: white;
     margin-top: -16px;
  }
  .curve_comment_middle
  {
    height: 30px;
    width: 30px;
    background-color:white;
    border-top: 2px solid #58D68D;
    border-left: 2px solid #58D68D;
    border-right: 0px solid #58D68D;
    border-bottom: 0px solid #58D68D;
    transform: rotate(45deg);
 
    margin-left:20px;
  }
   .slider_well .well p
   {
    padding: 15px;
    text-align: justify;
    font-family:georgia header;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
   }
   .circle li
   {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
   }
  #section6
  {
     background-color:white ;
     height:100%;
      padding-bottom: 50px;
      padding-top: 30px;
  }
  #section6 h2
  {
    letter-spacing: 5px;
    padding: 10px;
    color:#58D68D; 
    text-align: center;
    font-family:Chicle;
  }
  #section6 h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:#58D68D; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
  .price_well .well
  {
    height:100%;
    background-color: grey;
    border-radius: 0px;
    padding: 10px;
    background-color: white;
    border:2px solid #58D68D;
    overflow: hidden;
    cursor: pointer;
    margin: 30px auto;
    border-top-left-radius: 30px;
     border-bottom-right-radius: 30px;
  }
   .price_well .well:hover
   {
    transform: scale(1);
    transition: 0.7s ease;
     box-shadow: 2px 2px 15px 10px rgba(209, 200, 197, 0.9);
   }
  .price_well h3
  {
    letter-spacing: 5px;
    padding: 10px;
    color:#58D68D; 
    border-bottom: 2px solid #58D68D;
    text-align: center;
    font-family:Chicle;
   
  }
  .curve_down
  {
    height: 15px;
    width: 15px;
    background-color:white;
    border-top: 0px solid #58D68D;
     border-left: 0px solid #58D68D;
      border-right: 2px solid #58D68D;
       border-bottom:   2px solid #58D68D;
       transform: rotate(45deg);
       margin-top: -18px;
       margin-left: 160px;
  }
    .curve_up
  {
    height: 15px;
    width: 15px;
    background-color:white;
    border-top: 2px solid #58D68D;
    border-left: 2px solid #58D68D;
    border-right: 0px solid #58D68D;
    border-bottom:   0px solid #58D68D;
    transform: rotate(45deg);
    margin-left: 160px;
  }
      .curve_bottom
  {
    height: 40px;
    width: 40px;
    background-color:white;
    border-top: 0px solid #58D68D;
    border-left: 0px solid #58D68D;
    border-right: 2px solid #58D68D;
    border-bottom:  2px solid #58D68D;
    transform: rotate(45deg);
    margin-top: -50px;
    margin-left: 160px;
    
  }
  .price_well h2
  {
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    font-family:Chicle;
    margin-bottom: 30px;
  }
   .price_well p
   {
    letter-spacing: 2px;
    padding-left: 20px;
    font-size: 16px;
    text-align:left;
    font-family:Chicle;
   }
   
    #section7
  {
     background-color:#EAFAF1  ;
     height: 100%;
      padding-bottom: 50px;
      padding-top: 30px;
  }
  .comment_well .well
  {
    margin-top: 30px;
    height: 100%;
    border-radius: 0px;
     border: 2px solid #58D68D;
     background-color: white;
  }
  .curve_comment_bottom
  {
    height: 30px;
    width: 30px;
    background-color:white;
    border-top: 0px solid #58D68D;
    border-left: 0px solid #58D68D;
    border-right: 2px solid #58D68D;
    border-bottom:  2px solid #58D68D;
    transform: rotate(45deg);
    margin-top: -35px;
    margin-left:20px;
  }
   .comment_well .well p
   {
    padding: 15px;
    text-align: justify;
    font-family:georgia header;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
   }
       .message_icon i
       {
       
        color: #58D68D;
        font-size: 40px;
       }
    #section8
  {
     background-color:#EAFAF1   ; 
     height:100%;
    padding-top: 30px;
  }
  .section_8_heading h2
  {
     letter-spacing: 5px;
    padding: 10px;
    color:#58D68D; 
    text-align: center;
    font-family:Chicle;
  }
  .section_8_heading h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:#58D68D; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
  .contact_well_form .well
  {
    border-radius: 0px;
    background-color: transparent;
    height: 100%;
     border:none;

  }
  .contact_well_form .well input
  {
    border-radius: 0px;
    color:black;
    padding: 20px;
    font-size: 16px;
    border: 2px solid #58D68D;
     font-family:georgia header;
     letter-spacing: 2px;
  }
   .contact_well_form .well textarea
  {
    border-radius: 0px;
    color: black;
     font-size: 16px;
    border: 2px solid #58D68D;
     font-family:georgia header;
     letter-spacing: 2px;
     padding: 20px;
  }
   .contact_well_form .well label
  {
   font-family:Aladin;
    color: #58D68D;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .contact_well .well
  {
    border-radius: 0px;
    background-color: transparent;
    height: 100%;
     border-color: transparent;
  }
  .btn-danger
   {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #58D68D;
    padding: 10px;
    font-family:Aladin;
    letter-spacing: 3px;
    text-align: center;
    color: #58D68D;
    margin-top: 30px;
    margin-bottom: 20px;
   }
   .btn-danger:hover
   {
    background-color: transparent;
     border: 2px solid #58D68D;
     color: #58D68D;
   }
    .contact_well h2
  {
     letter-spacing: 5px;
     font-size: 20px;
    color:#58D68D; 
    text-align:left;
    font-family:Chicle;
  }
   .contact_well h4
  {
    letter-spacing: 2px;
    padding: 10px; 
    color:#58D68D; 
    text-align: center;
    font-family:georgia header;
    font-style: italic;
  }
     .contact_well p
  {
     letter-spacing: 2px;
     font-size: 16px;
    color:#58D68D; 
    text-align:left;
    font-family:georgia header;
  }
  .map_well .well
  {
     border-radius: 0px;
    background-color: transparent;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    border-color: transparent;

  }
.well:hover .map-l
{
  width:0px;
  height:260px;
 
} 
.map_well .well:hover iframe
{
  transform: scale(1.1);
  transition:0.3s ease;
}
.map_well .map-l{
  width:416px;
  height:255px;
  margin-top: 2px;
  background: rgba(88, 214, 141, 0.3);
  position: absolute;
  top: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
 
}
.map-l h2
{
  font-size: 36px;
  color:#58D68D;
  padding-top: 50px;
}
    #section9
  {
     background-color: #27AE60  ;
     height:100%;
      padding-bottom: 15px;  
  }
   #section9 h5
   {
    text-align:right;
    padding-left: 20px;
    color: white;
    font-family: georgia header;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 16px;
   }
  .footer h4
  {
    text-align: left;
    padding-left: 20px;
    color: white;
    font-family: georgia header;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 16px;
  }
  .navigation_up 
  {
      height: 60px;
      width: 60px;
      border-bottom: 0px solid black;
      border-top: 3px solid #58D68D;
      border-left: 3px solid #58D68D;
      border-right: 0px solid black;
      background-color:transparent;
      transform: rotate(45deg);
   margin-left: 30px;
   cursor: pointer;
  }
   .navigation_to_the_top h3
    {
      text-align: left;
    padding-left: 18px;
    color:#58D68D;
    font-family: Aladin;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
     cursor: pointer;

    }
  .social
  {
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;

  }
  .social i
  {
  padding-left: 15px;
  padding-right: 15px;
  }
  
  
 